<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../View/css/text.css">
    <script src="../Controller/test.js"></script>
    <link rel="stylesheet" href="../View/css/login-signup.css">
    <link rel="stylesheet" href="../View/css/unibud-banner.css">
    <link rel="stylesheet" href="../View/css/home.css">
    <link rel="stylesheet" href="../View/css/footer.css">
    <script src="../View/js/test.js"></script>
    <script src="../View/js/components.js"></script>
    <script>
        $(document).ready(function(){
            document.getElementById("home-page-wrapper").innerHTML += caseComponents();
            document.getElementById("home-page-wrapper").innerHTML += caseComponents();
            document.getElementById("home-page-wrapper").innerHTML += caseComponents();
            document.getElementById("home-page-wrapper").innerHTML += caseComponents();
            document.getElementById("home-page-wrapper").innerHTML += caseComponents();
        });
    </script>
    <title>Uni Bud Home</title>
</head>
<body>
    <div id="home-page-wrapper" class="home-page-wrapper">
    <div class="banner">UNIBUD</div>
    <div class="footer">
        <div class="footer-btns">
            <span class="material-icons">
                home
            </span></div>
        <div class="footer-btns">
            <span class="material-icons">
                add
            </span>
        </div>
        <div class="footer-btns">
            <span class="material-icons">
                person
            </span>
        </div>

    </div>
    </div>
</body>
</html>
