<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous">
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../View/css/text.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="../Controller/test.js"></script>
    <script src="../Controller/getAndPosts.js"></script>
    <!-- <script src="../Model/getAndPosts.js"></script> -->
    <link rel="stylesheet" href="../View/css/login-signup.css">
    <link rel="stylesheet" href="../View/css/unibud-banner.css">
    <link rel="stylesheet" href="../View/css/home.css">
    <link rel="stylesheet" href="../View/css/upload-case.css">
    <link rel="stylesheet" href="../View/css/footer.css">
    <script src="../View/js/test.js"></script>
    <script src="../View/js/login-signup.js"></script>
    <!-- <script src="../View/js/index.js"></script> -->
    <title>Unibud Login</title>
</head>
<body>
    
</body>
</html>